{% extends "base_generic.html" %}

{% block content %}
    <h1>Список изображений по тегу: {{ object_list.0 }}</h1>

    {% if object_list %}
    <div class="row">
      {% for x in object_list %}
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="{{ x.get_absolute_url }}">
            <img src="{{ x.image.url }}"  height="300"   style="width:100%">
            <div class="caption">
              <p>{{ x.title }}</p>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
      <p>There are no images with this tag.</p>
    {% endif %}
{% endblock %}